$primary-color: #397fbf;
$secondary-color: #fe9922;
$secondary-color_dark: #b26e1e;
$fill-color: #ffffff;
$text-primary-color: #212c5b;
$text-secondary-color: #ffffff;
$background-color: #dff1ff;
$hover-color: #f2f2f2;
$underline-color: #dce6ea;
$text-underline-color: #9ea3b7;
$transparent-color: rgba(0, 0, 0, 0);
